<div class="navbar">
  <div class="navbar-brand">
    <h2>Private Email Service</h2>
  </div>
  <div class="nav">
    <ul class="nav-ul">
      <ng-container *ngIf="SIGNED_IN_$ | async">
        <li class="page-item">
          <a
            routerLink="/inbox"
            routerLinkActive="active"
            class="page-link inbox"
            >Inbox</a
          >
        </li>
        <li class="page-item">
          <a
            routerLink="/signout"
            routerLinkActive="active"
            class="page-link signout"
            >Sign Out</a
          >
        </li>
      </ng-container>

      <ng-container *ngIf="!(SIGNED_IN_$ | async)">
        <li class="page-item">
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="page-link signin"
            >Sign In</a
          >
        </li>
        <li class="page-item">
          <a
            routerLink="/signup"
            routerLinkActive="active"
            class="page-link signup"
            >Sign Up</a
          >
        </li>
      </ng-container>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
